<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HUSTLE-your go 2 gym</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="nav-bar">
      <nav class="nav-bar-class">
        <img src="/images/logo.png" alt="logo" id="logo" />
        <li><a href="/">HOME</a></li>
        <li><a href="/#training-section">TRAININGS</a></li>
        <li><a href="/testimonials">TESTIMONALS</a></li>
        <li><a href="/trainers">TRAINERS</a></li>
        <li><a href="/pricing">PRICING  </a></li>
        <li><a href="/gallery">GALLERY </a></li>
        <button class="btn" onclick="location.href='/join';">JOIN NOW -></button>
      </nav>
    </div>

    <div class="main_group">
      <h1>FIND YOUR STRENGTH</h1>
      <p>Power Lies Within YOU</p>
      <img src="/images/group.jpeg" alt="group photo at gym" />
    </div>

    <!-- training details -->

    <div class="trainings">
      <h1 class="train-h1" id="training-section">TRAININGS</h1>
      <div class="personal-training">
        <p>Personal Training</p>
        <img src="/images/personal-trainingnew.jpg" alt="" class="right" />
      </div>
      <br>
      <div class="group-train-main">
        <div class="group-training">
          <p>Group Training</p>
          <img src="/images/stretching.jpeg" alt="" />
        </div>
      </div>
      <br>

      <div class="group-train-main">
        <div class="group-training">
          <p>strength Training</p>
          <img src="/images/mirror_photo.jpeg" alt="" />
        </div>
      </div>
      <br><br>
      </div>
    
    </div>
    

    <br>
    <div class="footer">
      <p>CopyRight@Hustle</p>
      <p>2023</p>
      <p>All Right Reserved</p>
  </div>
  </body>
</html>
