<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="nav-bar">
    <nav class="nav-bar-class">
      <img src="/images/logo.png" alt="logo" id="logo" />
      <li><a href="/">HOME</a></li>
      <li><a href="/#training-section">TRAININGS</a></li>
      <li><a href="/testimonials">TESTIMONALS</a></li>
      <li><a href="/trainers">TRAINERS</a></li>
      <li><a href="/pricing">PRICING  </a></li>
      <li><a href="/gallery">GALLERY </a></li>
      <button class="btn" onclick="location.href='/join';">JOIN NOW -></button>
    </nav>
  </div>
</body>
</html>