<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <nav class="nav-bar-class">
        <img src="/images/logo.png" alt="logo" id="logo" />
        <li><a href="/">HOME</a></li>
        <li><a href="/#training-section">TRAININGS</a></li>
        <li><a href="/testimonials">TESTIMONALS</a></li>
        <li><a href="/trainers">TRAINERS</a></li>
        <li><a href="/pricing">PRICING </a></li>
        <li><a href="/gallery">GALLERY </a></li>
        <button class="btn" onclick="location.href='/join';">
          JOIN NOW ->
        </button>
      </nav>
    </div>

    <!-- testmonials -->

    <div class="testmonials-swipe">
      <p class="left-swipe"><</p>
      <div class="main-testimonials">
        <div class="testimonial test1" id="cool1">
          <img src="images/yogaTrainer.jpg" alt="" class="img1" />
          <p>
            ⭐⭐⭐⭐⭐<br />
            A good place to workout. Almost all the required equipment are
            available. Trainers are good and very encouraging, well maintained,
            trained staff and more species. All the trainers are very good with
            good knowledge of teaching as well. Good place to achieve your goal.
            Over all vibe is great and I have had nothing but good experiences.
            Its really worth for money.
          </p>
        </div>
        <!-- <img src="images/next_icon.png" alt=""class="slide-btn"> -->
        <div class="testimonial test2">
          <img src="images/mirror photo2.jpeg" alt="" class="img1" />
          <p>
            ⭐⭐⭐⭐⭐<br />
            It’s been 3 years in Hustle Hard from December 2020. Since working
            out here I am stronger and in better shape than at any other time in
            my life. I find every class and every trainer are different but
            always super challenging, and this variety of workouts keeps me
            invested in maintaining a consistent motivation to show up and work
            hard. The trainers are ALWAYS so encouraging, offering modifications
            when needed. Fitness Within always seems to go above and beyond to
            meet the needs of ALL of their clients. I have always felt that the
            staff value me as a member here.
          </p>
        </div>

        <div class="testimonial test3">
          <img src="images/guy2.jpg" alt="" class="img1" />
          <p>
            ⭐⭐⭐⭐⭐<br />

            Hustle Hard is the cleanest and most organized gym I’ve ever seen! I
            have no words to say how wonderful they are! Matt makes you feel
            super comfortable, Emma helps you eat better and healthy! Hustle
            hard has a team of excellence! They have a place for anyone, a plan
            for any goal, everything is very flexible! I am extremely satisfied
            with Fitness Within and the entire team.
          </p>
        </div>
      </div>
      <p class="right-swipe">></p>
    </div>

    <br />
    <br />

    <div class="footer">
      <p>CopyRight@Hustle</p>
      <p>2023</p>
      <p>All Right Reserved</p>
    </div>
    <script src="/swipe.js"></script>
  </body>
</html>
