<%- include('nav') %>
<h1>Congratulations <%=name%></h1>
<p style="color:aliceblue; text-align: center; letter-spacing: 0.2em; font-size: 2rem;">you are one step further to your fitness goals</p>
<h1>Thank you</h1>
<h1 style="color:white; text-align: center;"text>our executive will contact You</h1>
<div class="center-btn">
    <button onclick='window.location.href="/login"' class="btn ">LOGIN</button>
</div>

<br>
<br>
<%- include('footer') %>