<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="nav-bar">
    <nav class="nav-bar-class">
      <img src="/images/logo.png" alt="logo" id="logo" />
      <li><a href="/">HOME</a></li>
      <li><a href="/#training-section">TRAININGS</a></li>
      <li><a href="/testimonials">TESTIMONALS</a></li>
      <li><a href="/trainers">TRAINERS</a></li>
      <li><a href="/pricing">PRICING  </a></li>
      <li><a href="/gallery">GALLERY </a></li>
      <button class="btn" onclick="location.href='/join';">JOIN NOW -></button>
    </nav>
  </div>

      <div class="trainers">
        <div class="trainer1">
            <img src="images/trainer3.jpg" alt="">
            <p>Hi, I’m Matt Roberts, a certified personal trainer with 12 years of experience in the field, dedicated to helping individuals reach their personal fitness goals. Through creative programming, I provide clients with an accessible and achievable path to better physical and mental health. I’m passionate about motivating and inspiring people to push their boundaries, and I believe that fitness should be a lifestyle rather than a chore.</p>

        </div>
        <br>
        <br>
        <div class="trainer1">
            <img src="images/trainer2.jpg" alt="">
            <p>Hi, I’m Emma Chan, a certified personal trainer with 12 years of experience in the field, dedicated to helping individuals reach their personal fitness goals. Through creative programming, I provide clients with an accessible and achievable path to better physical and mental health. I’m passionate about motivating and inspiring people to push their boundaries, and I believe that fitness should be a lifestyle rather than a chore.</p>

        </div>
        <br><br>
        <div class="trainer1">
            <img src="images/trainer1.jpg" alt="">
            <p>Greetings, I’m Shaun Stafford, a clinical exercise specialist with a passion for helping people to improve their quality of life. With over 10 years of experience in the field, I specialize in building comprehensive fitness programs that target each individual client’s physical and emotional needs. I’m committed to helping people break through to a healthier, more confident version of themselves.</p>

        </div>

      </div>
      <br><br>
      <div class="footer">
        <p>CopyRight@Hustle</p>
        <p>2023</p>
        <p>All Right Reserved</p>
    </div>
</body>
</html>